<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs\log.txt" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate | %level | %logger | %message%newline" />
    </layout>
  </appender>
  <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net">
    <remoteAddress value="172.30.222.108" />
    <remotePort value="12201" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:Hugin,version:1.0,Environment:Prod,Level:%level" />
      <param name="Facility" value="MyApp" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>